@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@300&display=swap');

/* Colors: #F0727C  #F6A974  #E4DA7A  #8AD172  #779AED  #BF5FBF  */

/* NAVIGATION */

nav {
  margin: 20px auto 60px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 10%;
  font-family: 'Open sans', sans-serif;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #222222;
  cursor: pointer;
}

@media (max-width: 600px) {
  nav a {
    font-size: 12px;
  }
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 16.66%;
}

a:nth-child(2) {
  width: 16.66%;
}

a:nth-child(3) {
  width: 16.66%;
}

a:nth-child(4) {
  width: 16.66%;
}

a:nth-child(5) {
  width: 16.66%;
}
a:nth-child(6) {
    width: 16.66%;
}

nav .start-hierarchy, a:nth-child(1):hover~.animation {
  width: 16%;
  left: 0%;
  background-color: #F0727C;
}

nav .start-color, a:nth-child(2):hover~.animation {
  width: 16%;
  left: 16.66%;
  background-color: #F6A974;
}

nav .start-ui, a:nth-child(3):hover~.animation {
  width: 16%;
  left: 33.32%;
  background-color: #E4DA7A;
}

nav .start-ux, a:nth-child(4):hover~.animation {
  width: 16%;
  left: 49.98%;
  background-color: #8AD172;
}

nav .start-dict, a:nth-child(5):hover~.animation {
  width: 16%;
  left: 67%;
  background-color: #779AED;
}

nav .start-challenge, a:nth-child(6):hover~.animation {
    width: 16%;
    left: 84%;
    background-color: #BF5FBF;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1px;
}

/* BUTTON */
.sticky {
  position: fixed;
  right: 0;
  top: 90%;
  left: 90%;
  text-align: center;
  font-size: 60%;
  width: 65px;
  font-family: 'Open sans', sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff25;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff25;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.dark-mode {
  background-color: #181818;
  color: #ffffffbb;
}

.nav_dark a{
  color: #ffffffce;
  border-bottom: solid;
  border-color: #ffffff25;
}

/* PAGE */
.content {
  width: 100%;
  max-width: 10000px;
  height: 100%;
  margin: 0; 
  border: 0;
  padding: 0;
}

/* TITLE */
.title {
  max-width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 200%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* TEXT */
.text {
  width: 90%;
  max-width: 1000px;
  height: 100%;
  margin: 2% auto;
  font-family: 'Open Sans', sans-serif;
}

/* COLORS */
.colors_meaning {
  max-width: 850px;
  margin: auto;
  display: flex;
}

.color{
  margin: auto;
  width: 15%;
  font-size: 400%;
}

.meaning {
  margin: 2%;
  width: 85%;
}


/* DICT */ 
.category {
  padding: 2px;
  font-weight: bold;
  text-transform: uppercase;
  margin-inline: 3px;
}

.defi {
  font-weight: bold;
  text-transform: uppercase;
}


/* CHALLENGE */

table.Table {
  width: 100%;
  border-collapse: collapse;
  border-width: 4px;
  border-color: #BF5FBF;
  border-style: solid;
}

table.Table td, table.Table th {
  border-width: 4px;
  border-color: #BF5FBF;
  border-style: solid;
  padding: 15px;
  text-align: center;
}